html {
    padding:0px; 
    margin:0px;
}

body {
    padding:0px; 
    margin:0px; 
    background-color:#DDD; 
    text-align:center;
    font: 62.5% "Trebuchet MS", sans-serif;
}

#canvas {
    background-color:#fff;
    border: 1px solid #333;
    /*height:98%;
    width:98%;*/
}